altgraph==0.17.4
beautifulsoup4==4.12.3
certifi==2025.4.26
charset-normalizer==2.0.12
dnspython==2.2.1
idna==3.10
importlib-metadata==4.8.3
mysql-connector-python==8.0.33
pefile==2024.8.26
protobuf==3.19.6
pyinstaller==4.10
pyinstaller-hooks-contrib==2022.0
python-dateutil==2.9.0.post0
python-whois==0.9.5
pywin32-ctypes==0.2.3
requests==2.27.1
six==1.17.0
soupsieve==2.3.2.post1
typing_extensions==4.1.1
urllib3==1.26.20
zipp==3.6.0
